<!DOCTYPE html>
<html>
<head>
	<title>Tiago Mota | Full Stack Web Developer</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="contact-header">
		<nav>
			<a href="../index.html">tm</a>
			<a class="header-back-btn" href="../index.html"><i class="fas fa-arrow-left"></i></a>
        </nav>
       <div>
            <h1>Hello</h1>
            <h2>It's great that you're reaching out to me, I'm always glad to be helpful.</h2>
       </div> 
    </header>
    <article class="contact-article">
                <i class="em em-slightly_smiling_face"></i>
                <p>Write your message to <a href="mailto:hey@tiagomota.me">hey@tiagomota.me</a></p>
                <div>
                    <p>I'm really eager to know you, so you can start by telling me something about you.</p>
                    <p>Next, you can talk about whatever you like: your next big project or your neighbor's dog, anything will do.</p>
                </div>
    </article>
	<footer class="contact-footer">
		<div>
			<a href="../index.html">tm</a>
			<p>Autodidact. Knowledge hungry. Humble.</p>
			<ul class="footer-social-list">
				<li><a href="https://twitter.com/tiagomsmota"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/tiagomsmota/"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="https://github.com/tiagomsmota"><i class="fab fa-github-alt"></i></a></li>
				<li><a href="https://twitter.com/tiagomsmota"><i class="fab fa-medium-m"></i></a></li>
				<li><a href="https://dribbble.com/tiagomsmota"><i class="fab fa-dribbble"></i></a></li>
			</ul>
			<p class="copyright">Handcrafted © <span>2018</span></p>
		</div>
	</footer>
</body>
</html>