<!DOCTYPE html>
<html>
<head>
    <!-- Analytics Global Tag -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111928369-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-111928369-2');
	</script>
	<title>Tiago Mota | Rocket Jobs</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="project-header">
		<nav>
			<a href="../index.html">tm</a>
			<a class="header-back-btn" href="../index.html"><i class="fas fa-arrow-left"></i></a>
        </nav>
       <div>
            <h1>Rocket Jobs</h1>
            <h2>A portuguese job board dedicated to establish the connection between young talents and companies in the IT world.</h2>
       </div> 
    </header>
    <article class="project-article">
        <section class="project-description">
            <img src="../assets/rocket-jobs.png" alt="Rocket Jobs logo">
            <div>
                <p><span>Rocket Jobs</span> grew from my personal goal of creating a full stack application product for pure practice.</p>
                <p>The IT world is one of the most promising fields in the modern world, where talent and innovation drives business development and, therefore, growth.</p>
                <p>From this premise Rocket Jobs was born - conceived to establish a connection between fresh talents looking for a first opportunity in the portuguese IT job market and companies willing to hire young talents and embrace innovation.</p>
            </div>
        </section>
        <section class="project-design">
            <h1>Design</h1>
            <div class="project-design-main">
                <p>A sharp, clean and minimalist interface was conceived to achieve the most enjoyable user experience and focus possible, free of unnecessary visual noise.</p>
                <p>The use of a strong and youthful primary color was essential to achieve an energetic, positive feel and to mark highlights and focus points.</p>
                <p>Montserrat was the elected font for the project, contributing to the modern and minimalist feel of the overall design. Josefin Sans was used for the logo.</p>
                <p>Gravit was used for the interface design.</p>
            </div>
            <div class="project-design-choices">
                <div class="project-design-choices-type">
                    <p>Montserrat</p>
                    <hr>
                    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                    <p>abcdefghijklmnopqrstuvwxyz</p>
                    <p>‘?’“!”(%)[#]{@}/&\<-+÷×=>$€£¥¢:;,.*</p>
                    <p>1234567890</p>
                </div>
                <div class="project-design-choices-color">
                    <div>
                        <div class="project-design-choices-color-main">
                            <div class="color-circle" style="background-color: #FF5050"></div>
                            <p><span>HEX</span> #FF5050</p>
                            <p><span>RGB</span> 255, 80, 80</p>
                        </div>
                        <div class="project-design-choices-color-grey1">
                            <div class="color-circle" style="background-color: #F7F7F7"></div>
                            <p><span>HEX</span> #F7F7F7</p>
                            <p><span>RGB</span> 247, 247, 247</p>
                        </div>
                        <div class="project-design-choices-color-grey2">
                            <div class="color-circle" style="background-color: #E1E1E1"></div>
                            <p><span>HEX</span> #E1E1E1</p>
                            <p><span>RGB</span> 225, 225, 225</p>
                        </div>
                    </div>
                    <div>
                        <div class="project-design-choices-color-grey3">
                            <div class="color-circle" style="background-color: #9D9D9D"></div>
                            <p><span>HEX</span> #9D9D9D</p>
                            <p><span>RGB</span> 157, 157, 157</p>
                        </div>
                        <div class="project-design-choices-color-grey4">
                            <div class="color-circle" style="background-color: #4F4F4F"></div>
                            <p><span>HEX</span> #4F4F4F</p>
                            <p><span>RGB</span> 79, 79, 79</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-design-showcase">
                <img src="../assets/rocketjobs-screenshot1.png" alt="Screenshot of the Rocket Jobs project">
            </div>
        </section>
        <section class="project-stack">
            <h1>Development</h1>
            <div class="project-stack-main">
                <p>Rocket Jobs development is still in progress.</p>
                <p>This project, in terms of development, serves as a playground for experimenting with multiple concepts and technologies.</p>
                <p>The development is made under an <span>MVC Framework</span> using <span>Node.js</span>, <span>Express</span> and <span>MongoDB</span>. Stylesheets are handled with <span>SASS</span> and <span>Grunt</span>.</p>
                <p>The project is currently deployed on <span>Heroku</span>'s free tier, for showcase. The source code is pushed to a <span>GitHub</span> repository, open for the public to consult.</p>
            </div>
            <div class="project-stack-logos">
                <ul>
					<li><i class="devicon-nodejs-plain-wordmark colored"></i></li>
					<li><i class="devicon-express-original colored"></i></li>
					<li><i class="devicon-mongodb-plain-wordmark colored"></i></li>
                    <li><i class="devicon-sass-original colored"></i></li>
                    <li><i class="devicon-grunt-line-wordmark colored"></i></li>
                    <li><i class="devicon-heroku-plain-wordmark colored"></i></li>
                </ul>
            </div>
        </section>
        <section class="project-cta">
                <h1>Want to know more?</h1>
            <div>
                <a href="http://rocketjobs.herokuapp.com/">See it live</a>
                <p>or</p>
                <a href="contact.html">Speak with me</a>
            </div>
        </section>
    </article>
	<footer class="contact-footer">
		<div>
			<a href="../index.html">tm</a>
			<p>Autodidact. Knowledge hungry. Humble.</p>
			<ul class="footer-social-list">
				<li><a href="https://twitter.com/tiagomsmota" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/tiagomsmota/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="https://github.com/tiagomsmota" target="_blank"><i class="fab fa-github-alt"></i></a></li>
				<li><a href="https://medium.com/@tmsmota" target="_blank"><i class="fab fa-medium-m"></i></a></li>
				<!-- <li><a href="https://dribbble.com/tiagomsmota" target="_blank"><i class="fab fa-dribbble"></i></a></li> -->
			</ul>
			<p class="copyright">Handcrafted © <span>2018</span></p>
		</div>
	</footer>
</body>
</html>