<!DOCTYPE html>
<html>
<head>
	<title>Tiago Mota | Teatro Municipal do Porto</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="project-header">
		<nav>
			<a href="../index.html">tm</a>
			<a class="header-back-btn" href="../index.html"><i class="fas fa-arrow-left"></i></a>
        </nav>
       <div>
            <h1>Teatro Municipal do Porto</h1>
            <h2>Website redesign for the Municipal Theatre of Oporto, based on modern design concepts and guidelines</h2>
       </div> 
    </header>
    <article class="project-article">
        <section class="project-description">
            <img src="../assets/tmporto-logo.png" alt="Rocket Jobs logo">
            <div>
                <p><span>This project does not consist on the official Teatro Municipal do Porto website and I do not hold any formal relationship with the institution.</span></p>
                <p>This project consists on a website redesign for the Teatro Municipal do Porto.</p>
                <p>The main purpose was to create a website that serves a better information architecture and visual order, while keeping the authentic traits and stylistic identifiers of the institution.</p>
                <p>The lack of an strong, clean and modern digital identity on the institution's website was the main motivator for this project.</p>
                <p>The current Teatro Municipal do Porto website can be found <a href="http://www.teatromunicipaldoporto.pt">here</a></p>
            </div>
        </section>
        <section class="project-design">
            <h1>Design</h1>
            <div class="project-design-main">
                <p>The trend on artistic institutions, particularly theatres, was analyzed and taken into consideration for this redesign.</p>
                <p>A balance between a bold artistic identity and an effective, clear communication was pursued.</p>
                <p>Neutral contrasts were used to provide a sense of bold elegance to the user. Inconsolata and PT Sans Narrow was the elected typography combination.</p>
                <p>The interface was designed using Gravit.</p>
            </div>
            <div class="project-design-choices">
                <div class="project-design-choices-type" style="font-family: Inconsolata, monospace">
                    <p>Inconsolata</p>
                    <hr>
                    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                    <p>abcdefghijklmnopqrstuvwxyz</p>
                    <p>‘?’“!”(%)[#]{@}/&\<-+÷×=>$€£¥¢:;,.*</p>
                    <p>1234567890</p>
                </div>
                <div class="project-design-choices-type" style="font-family: PT Sans Narrow, monospace">
                    <p>PT Sans Narrow</p>
                    <hr>
                    <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                    <p>abcdefghijklmnopqrstuvwxyz</p>
                    <p>‘?’“!”(%)[#]{@}/&\<-+÷×=>$€£¥¢:;,.*</p>
                    <p>1234567890</p>
                </div>
                <div class="project-design-choices-color">
                    <div>
                        <div class="project-design-choices-color-main">
                            <div class="color-circle" style="background-color: #ffffff"></div>
                            <p><span>HEX</span> #FFFFFF</p>
                            <p><span>RGB</span> 255, 255, 255</p>
                        </div>
                        <div class="project-design-choices-color-grey1">
                            <div class="color-circle" style="background-color: #bfbfbf"></div>
                            <p><span>HEX</span> #BFBFBF</p>
                            <p><span>RGB</span> 191, 191, 191</p>
                        </div>
                        <div class="project-design-choices-color-grey2">
                            <div class="color-circle" style="background-color: #000000"></div>
                            <p><span>HEX</span> #000000</p>
                            <p><span>RGB</span> 000, 000, 000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-design-showcase">
                <img src="../assets/tmp2.png" alt="Screenshot of the Rocket Jobs project">
            </div>
        </section>
        <section class="project-stack">
            <h1>Development</h1>
            <div class="project-stack-main">
                <p>This project is not yet under development. A live showcase will be available soon.</p>
                <p>Only the front-end will be developed for this project. The main objective in terms of development is to achieve a good user experience with simple but clean and natural animations that reinforce the artistic identity of the theatre.</p>
            </div>
            <div class="project-stack-logos">
                <ul>
                    <li><i class="devicon-html5-plain-wordmark colored"></i></li>
                    <li><i class="devicon-css3-plain-wordmark colored"></i></li>
                    <li><i class="devicon-javascript-plain colored"></i></li>
                    <li><i class="devicon-sass-original colored"></i></li>
                </ul>
            </div>
        </section>
        <section class="project-cta">
                <h1>Want to know more?</h1>
            <div>
                <a href="#">See it live</a>
                <p>or</p>
                <a href="contact.html">Speak with me</a>
            </div>
        </section>
    </article>
	<footer class="contact-footer">
		<div>
			<a href="../index.html">tm</a>
			<p>Autodidact. Knowledge hungry. Humble.</p>
			<ul class="footer-social-list">
				<li><a href="https://twitter.com/tiagomsmota" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.linkedin.com/in/tiagomsmota/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				<li><a href="https://github.com/tiagomsmota" target="_blank"><i class="fab fa-github-alt"></i></a></li>
				<li><a href="https://medium.com/@tmsmota" target="_blank"><i class="fab fa-medium-m"></i></a></li>
				<!-- <li><a href="https://dribbble.com/tiagomsmota" target="_blank"><i class="fab fa-dribbble"></i></a></li> -->
			</ul>
			<p class="copyright">Handcrafted © <span>2018</span></p>
		</div>
	</footer>
</body>
</html>